[mysqld]
basedir=/usr/local/mysql/mysql-8.4.10
datadir=/data/myhome/mydata/mysql-bak-plan12-inc-restore
port=33314
socket=/tmp/mysql-bak-plan12-inc-restore.sock
pid-file=/data/myhome/mydata/mysql-bak-plan12-inc-restore/mysqld.pid
log-error=/data/myhome/mydata/mysql-bak-plan12-inc-restore/error.log
server-id=1203
log-bin=/data/myhome/mydata/mysql-bak-plan12-inc-restore/binlog
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
innodb-buffer-pool-size=64M
innodb-redo-log-capacity=64M
innodb-flush-log-at-trx-commit=1
sync-binlog=1
performance-schema=OFF
max-connections=20
skip-name-resolve
